CONFIG_DIR=

# Argo CD installer settings
ARGOCD_NAMESPACE=argocd
ARGOCD_MANIFEST_URL=https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
ARGOCD_ADMIN_USERNAME=
ARGOCD_ADMIN_PASSWORD=
ARGOCD_SERVER_EXPOSURE_MODE=ClusterIP
ARGOCD_SERVER_HTTP_NODEPORT=30080
ARGOCD_SERVER_HTTPS_NODEPORT=30443
ARGOCD_SERVER_LOADBALANCER_IP=
ARGOCD_SERVER_LOADBALANCER_CLASS=
ARGOCD_GITOPS_APPSET_NAME=homelab-addons
ARGOCD_GITOPS_REPO_URL=git@github.com:nodadyoushutup/homelab.git
ARGOCD_GITOPS_REPO_REVISION=HEAD
ARGOCD_GITOPS_APPS_FILE=
ARGOCD_GITOPS_ROOT_APP_NAME=argocd-bootstrap
ARGOCD_GITOPS_ROOT_APP_FILE=
ARGOCD_GITOPS_REPO_SECRET_NAME=homelab-gitops-repo
ARGOCD_GITOPS_REPO_USERNAME=
ARGOCD_GITOPS_REPO_PASSWORD=
ARGOCD_GITOPS_REPO_SSH_PRIVATE_KEY=
