# Copy to minio.env — docker/docker-compose.minio.yaml, scripts/install/velero.sh
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_REGION_NAME=us-east-1
MINIO_PROMETHEUS_AUTH_TYPE=public
MINIO_LOG_LEVEL=debug
